.img{
    background-size: 10 10;
    width:40px;
    height:40px;
    margin-right:12px;
}
.logo{
    padding:30px;
    height:100px;
    width:100%;
    background-color: #001419;
    color:#FFFFFF
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
.crumbs{
    border-bottom:1px solid #e8e8e8;
}
.textcontent{
    display: inline-block;
    font-size:18px;
    padding-left:20px;
}
.weather{
    display: block;
    float: right;
}